/* --------------------------------*
 * STYLES/_BASE.SCSS
 *
 * All our default base element
 * styles and overrides
 *--------------------------------*/

body,
html {
  font-size: $font-size-base;
  font-family: 'Didact Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding: 0;
  margin: 0;
}
