/*---------------------------------*
 * STYLES/_SETTINGS.SCSS
 *
 * All our base settings for our CSS
 *--------------------------------*/

// SPACING
$spacing-xs: 5px;
$spacing-small: 10px;
$spacing-base: 15px;
$spacing-large: 30px;
$spacing-xl: 60px;

// TYPOGRAPHY
$font-size-xs: 11px;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-huge: 30px;
$font-size-heading: 52px;
