/*---------------------------------*
 * STYLES/_SETTINGS.SCSS
 *
 * All our base settings for our CSS
 *--------------------------------*/

// SPACING
$spacing-xs: 5px;
$spacing-small: 10px;
$spacing-base: 15px;
$spacing-large: 30px;
$spacing-xl: 60px;

// TYPOGRAPHY
$font-size-xs: 11px;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-huge: 30px;
$font-size-heading: 52px;

// COLOURS
$color-blue: #3498db;
$color-blue-dark: darken($color-blue, 30%);
$color-green: #2ecc71;
$color-yellow: #f1c40f;
$color-orange: #e67e22;
$color-red: #e74c3c;
$color-grey: #bdc3c7;
$color-grey-light: #ecf0f1;

// WEB SPECIFIC COLOURS
$primary-color: $color-blue;
$notice-color: $color-yellow;
$warning-color: $color-orange;
$danger-color: $color-red;
$disabled-color: $color-grey;
$border-color: $color-grey-light;
